* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    height: 70px;
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #3b136f;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

    animation: slideDown 0.9s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.nav-links a.active {
    color: #6f7cff;
}

.nav-links a.active::after {
    width: 100%;
    background: #6f7cff;
}
.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, text-shadow 0.3s;
}

.logo:hover {
    color: black;
    transform: scale(1.1);
    text-shadow: 0 0 10px #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: #ffccff;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #ffccff;
}

.nav-links a:hover::after {
    width: 100%;
}

.navbar img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
}

.navbar img:hover {
    transform: scale(1.15) rotate(5deg);
}
